body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.page-link {
  color: #212529;
}

.table > thead {
  background-color: rgb(83, 154, 231);
}

.table-hover tbody tr:hover {
  background-color: rgba(83, 154, 231, 0.6);
}
